
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/test.png
cmake-build-debug/test - 副本.png
cmake-build-debug/test - 副本 (4).png
cmake-build-debug/test - 副本 (3).png
cmake-build-debug/test - 副本 (2).png
cmake-build-debug/ray_tracing.exe
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/ray_tracing.dir/main.cpp.obj
cmake-build-debug/CMakeFiles/ray_tracing.dir/dependencies/World.cpp.obj
cmake-build-debug/CMakeFiles/ray_tracing.dir/dependencies/Vector.cpp.obj
cmake-build-debug/CMakeFiles/ray_tracing.dir/dependencies/Util.cpp.obj
cmake-build-debug/CMakeFiles/ray_tracing.dir/dependencies/Sphere.cpp.obj
cmake-build-debug/CMakeFiles/ray_tracing.dir/dependencies/Screen.cpp.obj
cmake-build-debug/CMakeFiles/ray_tracing.dir/dependencies/Ray.cpp.obj
cmake-build-debug/CMakeFiles/ray_tracing.dir/dependencies/Material.cpp.obj
cmake-build-debug/CMakeFiles/ray_tracing.dir/dependencies/Image.cpp.obj
cmake-build-debug/CMakeFiles/ray_tracing.dir/dependencies/Hittable.cpp.obj
cmake-build-debug/CMakeFiles/ray_tracing.dir/dependencies/Color.cpp.obj
cmake-build-debug/CMakeFiles/ray_tracing.dir/dependencies/Camera.cpp.obj
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/build.ninja
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-a0d2397f841e030aecd4.json
cmake-build-debug/.cmake/api/v1/reply/target-ray_tracing-Debug-1074b070fcc0c1622d9a.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-09-24T03-36-30-0647.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-45a7d69816b3315dfebb.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-2235ec13db601fd4d06e.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-ab4b38db38c15e07748b.json
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/cache-v2
.idea/vcs.xml
.idea/ray-tracing.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/.name
.idea/workspace.xml
